:root {
    --baseblue: #088178;
    --border: #cce7d0;
    --grey: #e2e9e1;
}

#cart {
    /* pr6 23:44 スライドできるように！ */
    overflow: auto;
}

#cart table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    white-space: nowrap;
}

#cart table img {
    width: 70px;
}

#cart table td:nth-child(1) {
    width: 100px;
    text-align: center;
}

#cart table td:nth-child(2) {
    width: 150px;
    text-align: center;
}
#cart table td:nth-child(3) {
    width: 200px;
    text-align: center;
}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(5) input {
    width: 70px; 
    padding: 10px 5px 10px 15p;
}

#cart table thead { 
    border: 1px solid var(--grey);
    border-left: none;
    border-right: none;
}

#cart table thead td {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}

#cart table tbody tr td {
    padding-top: 15px;
    /* 🤔 */
    font-size: 13px;
}

/* 🤔同じだよ？pr6 13:10
#cart table tbody td {
    font-size: 13px;
} */



/* ------------------------ */

#cart-add {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#coupon {
    width: 50%;
    margin-bottom: 30px;
}

#coupon h3,
#subtotal h3 { 
    padding-bottom: 15px;
}

#coupon input {
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid var(--grey);
}

#coupon button,
#subtotal button {
    background-color: var(--baseblue);
    color: #fff;
    padding: 12px 20px;
}

/* --------------- */

#subtotal {
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid var(--grey);
    padding: 30px;
}


#subtotal  table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}
#subtotal  table td { 
    width: 50%;
    border: 1px solid var(--grey);
    padding: 10px;
    font-size: 13px;
}






















@media (max-width: 799px) {
    #mobile i:nth-child(1) {
        color: var(--baseblue);
        font-size: 24px;
        padding-left: 20px;
    }
}


@media (max-width: 477px) {
    #cart-add {
        flex-direction: column;
    }

    #coupon {
        width: 100%;
    }

    #subtotal {
        width: 100%;
        padding: 20px;
    }
}

